/* Configuración general */
body {
    background: rgb(255, 255, 255); /* Fondo blanco */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Encabezado */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #90E0F2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#logo img {
    height: 60px;
    margin-right: 10px;
}

#logo p {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

/* Menú de navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black !important;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f3faff;
    color: #000000;
    border-radius: 8px;
}

/* Contenido principal */
#content {
    background: white;
    width: 70%;
    margin: 50px auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
}

/* Formularios */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    font-size: 14px;
}

button {
    background-color: #5ac2d9;
    color: #ffffff;
    border-radius: 12px; /* Define bordes redondeados */
    border: none; /* Elimina cualquier borde predeterminado */
    padding: 10px 20px; /* Ajusta el tamaño interno */
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #32d2f6; /* Cambia el color al pasar el mouse */
}


/* Pie de página */
footer {
    background-color: #90E0F2;
    color: #333333;
    font-size: 14px;
    padding: 10px 0;
    margin-top: 20px;
}
